.row {
    width: 400px;
    margin: 30px auto 0;
}

.card {
    border: 1px solid var( --light-border );
}

@media ( max-width: 425px ) {
    .row {
        width: 95%;
    }
}

@media ( max-width: 768px ) {
    .row {
        width: 90%;
    }
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    border: 1px solid var( --light-border );
    font-size: 18px;
    outline: none;
    padding: 5px;
    width: 100%;
}

.form-group:last-of-type {
    margin-bottom: 0;
}

.font-weight-bold-uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.btn-primary:hover {
    background: var( --hover-button );
}

.form-control,
.btn-primary {
    border-radius: 5px;
}

.card-body p,
.alert {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
}

/* Alerts */
.alert-danger {
    background: var( --danger-color );
    border-radius: 5px;
    color: var( --white-color );
}