@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&display=swap');

:root {
    --white-color: #fff;
    --light-border: #cfcfcf;
    --main-background: #333;
    --hover-button: #4d4d4d;
    --main-button: #ff7112;
    --text-light-hover: #d8d8d8;
    --danger-color: #ff4949;
    --gray: #dfdfdf;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lato', sans-serif;
}

/* Headers */

h2 {
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

label {
    display: block;
    font-size: 23px;
    margin-bottom: 5px;
}

.justify-content-between {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

/* Navbar */
.navbar-dark {
    background: var( --main-background );
}

/* Buttons */
.btn {
    border: none;
    font-size: 20px;
    outline: none;
    padding: 10px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: var( --white-color );
    background: var( --main-background );
    cursor: pointer;
    text-decoration: none;
    transition: background .3s ease;
}

.btn-danger {
    background: var( --danger-color );
    border-radius: 5px;
    color: var( --white-color );
    cursor: pointer;
    transition: opacity .3s ease;
}

.btn-danger:hover {
    opacity: .7;
}

.mt-5 {
    margin-top: 5px;
}

.text-center {
    text-align: center;
    padding: 10px 0;
}

.container {
    margin: auto;
    padding: 20px;
    width: 65%;
}

@media ( max-width: 425px ) {
    h1 {
        margin-bottom: 10px;
    }

    .justify-content-between {
        flex-direction: column;
    }

    .btn-block {
        text-align: center;
        width: 100%;
    }
}

@media ( max-width: 768px ) {
    .container {
        width: 100%;
    }
}